<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>번역기</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>Image OCR</h1>
<div class="container">
  <div class="upload-section">
    <input type="file" id="imageInput">
    <button onclick="uploadImage()">upload Image</button>
    <button class="translateImage" onclick="translateImage()">translate</button>
  </div>

  <div class="image-display">
    <h2>1</h2>
    <div id="translatedText"></div>
  </div>

  <div class="image-display">
    <h2>2</h2>
    <div id="translatedText-KR"></div>
  </div>

  <div class="image-display">
    <h2>2</h2>
    <div id="translatedText-JP"></div>
  </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>
